{% extends "base.html" %}

{% block content %}
    <h1>Bem vindo ao Tomichi!</h1>

    <h2>Grandes mudanças não acontecem sozinhas.</h2>
<div>
    Criar novos hábitos é difícil. Manter a constância é ainda mais... <br>
    
    <br>Mas com o Tomichi, você organiza sua rotina, acompanha seu progresso e pode compartilhar sua jornada com alguém de confiança — um psicólogo, terapeuta, mentor, amigo ou familiar.

    Porque evoluir fica mais fácil quando alguém caminha ao seu lado.
</div>
{% endblock %}